*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Antic Slab', serif;
    background: #E9E9E1;
}

.btn-scrolltop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    background: #abb1a8;
    color: white;
    border: 1px solid white;
    border-radius: 100%;
    transform: translateY(100px);
    transition: 0.5s;
    cursor:pointer;
  }

  .btn-scrolltop-on {
    transform: translateY(0);
  }

.btn-scrolltop:hover {
    background-color:#A9CD91;
    }


.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:"menu menu menu"
                        "titulo titulo imagen"
                        "titulo titulo imagen"
                        "sobremi sobremi imagen";
}

.menu {
    list-style: none;
    padding: 0;
    background: #0C0C0C;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 0 10px black;
    grid-area: menu;
    border-radius:8px;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    transition:all .3s
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #A9CD91;
}


.activo {
    background-color: #A9CD91;
}


.imagen {
    border: 2px solid #A9CD91;
    padding: 6px;
    margin: 30px;
    grid-area: imagen;
    display: grid;
    justify-content: center;
    align-content: center;
}

.titulo {
    grid-area: titulo;
    display: grid;
    justify-content: center;
    align-content: center;
}

.nombre {
    font-size: 70px;
    text-align: center;
    font-family: 'Antic Slab', serif;
}

.apellido {
    font-size: 100px;
    text-align: center;
    font-family: 'Antic Slab', serif;
}

.infoprofesion {
    font-style: italic;
    text-align: center;
    font-family: 'Antic Slab', serif;
}

.sobremi {
    grid-area: sobremi;
}

.about {
    font-weight: bold;
    text-align: left;
}

.descripcion {
    text-align: justify;
}


/**
Pag Experiencia 
*/

.contenedor-experiencia {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.intro {
    padding: 100px 0;
}
  
  
.experienciatitulo {
    font-size: 70px;
    text-align: center;
  }

.lineadetiempo ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #A9CD91;
}

.lineadetiempo ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.lineadetiempo ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #A8AEA4;
}

.lineadetiempo ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.lineadetiempo ul li:nth-child(odd) div {
  left: 45px;
}

.lineadetiempo ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #A8AEA4 transparent transparent;
}

.lineadetiempo ul li:nth-child(even) div {
    left: -470px;
} 

.lineadetiempo ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent  #A8AEA4;
}

.tiempo {
    font-weight: bold;
    font-size: 20px;
}

.trabajo {
    color: #000000;
    font-size: 25px
}

.descripciontrabajo {
    font-style: italic;
    font-family: 'Antic Slab', serif;
}

/**
Pag Porfolio
*/

.contenedor-portfolio {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(20, auto);

    grid-template-areas:"menu menu"
                        "titulo titulo"
                        "titulo2 titulo2"
                        "texto1 texto1"
                        "fotos1 fotos2"
                        "texto2 texto2"
                        "titulo3 titulo3"
                        "texto3 texto3"
                        "fotos3 fotos4"
                        "fotos6 fotos5"
                        "texto4 texto4"
                        "fotos7 fotos8"
                        "fotos9 fotos10"
                        "texto5 texto5"
                        "fotos11 fotos11"
                        "fotos12 fotos13"
                        "texto6 texto6"
                        "fotos14 fotos15"
                        "texto7 texto7"
                        "fotos16 fotos17"
                        "texto8 texto8"
                        "fotos18 fotos19";
}

.intro-portfolio {
    padding: 100px 0;
    grid-area: titulo;
}
  
  
.portfoliotitulo {
    font-size: 70px;
    text-align: center;
  }

.textoportfolio {
    font-style: italic;
}

.diseñouxtitulo {
    grid-area: titulo2;
    text-align: center;
    font-size: 30px;
}

.textoux {
    grid-area: texto1;
    text-align: justify;
}

.mysizeapp1 {
    grid-area: fotos1;
    display: grid;
    justify-content: center;
    align-content: center;
}

.mysizeapp2 {
    grid-area: fotos2;
    display: grid;
    justify-content: center;
    align-content: center;
}

.linksux {
    grid-area: texto2;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.diseñoindtitulo {
    grid-area: titulo3;
    text-align: center;
    font-size: 30px;
}

.textoforlet {
    grid-area: texto3;
    text-align: justify;
}

.forlet1 {
    grid-area: fotos3;
    display: grid;
    justify-content: center;
    align-content: center;
}

.forlet2 {
    grid-area: fotos4;
    display: grid;
    justify-content: center;
    align-content: center;
}

.forlet3 {
    grid-area: fotos5;
    display: grid;
    justify-content: center;
    align-content: center;
}

.forlet4 {
    grid-area: fotos6;
    display: grid;
    justify-content: center;
    align-content: center;
}

.textowilla {
    grid-area: texto4;
    text-align: justify;
}

.willa1 {
    grid-area: fotos8;
    display: grid;
    justify-content: center;
    align-content: center;
}

.willa2 {
    grid-area: fotos7;
    display: grid;
    justify-content: center;
    align-content: center;
}

.willa3 {
    grid-area: fotos9;
    display: grid;
    justify-content: center;
    align-content: center;
}

.willa4 {
    grid-area: fotos10;
    display: grid;
    justify-content: center;
    align-content: center;
}

.textobioaccs {
    grid-area: texto5;
    text-align: justify;
}

.bioaccs1 {
    grid-area: fotos11;
    display: grid;
    justify-content: center;
    align-content: center;
}

.bioaccs2 {
    grid-area: fotos12;
    display: grid;
    justify-content: center;
    align-content: center;
}

.bioaccs3 {
    grid-area: fotos13;
    display: grid;
    justify-content: center;
    align-content: center;
}

.textosombreria {
    grid-area: texto6;
    text-align: justify;
}

.sombreria1 {
    grid-area: fotos14;
    display: grid;
    justify-content: center;
    align-content: center;
}

.sombreria2 {
    grid-area: fotos15;
    display: grid;
    justify-content: center;
    align-content: center;
}

.textosastreria {
    grid-area: texto7;
    text-align: justify;
}

.sastreria1 {
    grid-area: fotos16;
    display: grid;
    justify-content: center;
    align-content: center;
}

.sastreria2 {
    grid-area: fotos17;
    display: grid;
    justify-content: center;
    align-content: center;
}

.textodeportes {
    grid-area: texto8;
    text-align: justify;
}

.deporte1 {
    grid-area: fotos19;
    display: grid;
    justify-content: center;
    align-content: center;
}

.deporte2 {
    grid-area: fotos18;
    display: grid;
    justify-content: center;
    align-content: center;
}


/**
pag estudios
*/


.contenedor-estudios {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}


.intro-estudios {
    padding: 100px 0;
}
  

.estudiostitulo {
    font-size: 75px;
    text-align: center;
}



.universitario,
.cursos {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

.show  {
    display: block;
}

#boton_uni,
#boton_cursos {
    text-decoration:none;
    font-weight:600;
    font-size:30px;
    color:#000000;
    background-color:#D8E2D2;
    font-family: 'Antic Slab', serif;
    transition:all .3s;
    box-shadow:  10px 5px 10px rgb(150, 148, 148);
    cursor:pointer;
}

#boton_uni:hover,
#boton_cursos:hover {
    background-color:#A9CD91;
    }

#boton_uni {
    padding-top:20px;
    padding-bottom:20px;
    padding-left:406px;
    padding-right:406px;
    border-radius: 35px 0px 35px 0px; 
}

#boton_cursos {
    border-radius: 35px 0px 35px 0px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:453px;
    padding-right:453px;
}

#boton_uni:focus,
#boton_cursos:focus {
    background: #A9CD91;
}


.uni1,
.cursos1 {
    color: #000000; 
    font-weight: 400; 
    text-align: center; 
    background: #adb1aa; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    order: 2px solid #727570;
}

.año {
    font-size: 30px;
}

.año_descripcion {
    font-weight: bold;
    font-size: 20px
}

.institucion {
    font-style: italic;
}

.cursos {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

/**
pag habilidades
*/

.contenedor-habilidades {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:"menu menu"
                        "habilidades habilidades "
                        "equipo illustrator"
                        "marketing photoshop"
                        "idiomas instagram";
}


.intro-habilidades {
    padding: 100px 0;
    grid-area: habilidades;
    display: grid;
    justify-content: center;
    align-content: center;
}
  
.habilidadestitulo {
    font-size: 75px;
    text-align: center;
}



.equipo {
    padding: 10px;
    grid-area: equipo;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.marketing {
    padding: 10px;
    grid-area: marketing;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.idiomas {
    padding: 10px;
    grid-area: idiomas;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.illustrator {
    padding: 10px;
    grid-area: illustrator;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.photoshop {
    padding: 10px;
    grid-area: photoshop;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.instagram {
    padding: 10px;
    grid-area: instagram;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.texto_habilidad {
    font-size: 20px;
    font-weight: bold;
}

.texto_idioma {
    font-style: italic;
}

/**
pag contacto
*/

.contenedor-contacto {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.formulario {
    width:340px;
    height: 525px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin: 100px auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    position:relative
}


.titulo_formulario {
    margin:10px 0;
    padding-bottom:10px;
    width:180px;color:#78788c;
    border-bottom:3px solid #78788c
}

input {
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}

input:focus {
    border-bottom:2px solid #78788c
}

.texto_formulario:before {
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:20px;
    color:#5a5a5a
}

.boton_formulario {
    float:right;
    padding:10px 12px;
    margin:30px 0 0;
    border:2px solid #8f8f92;
    background: #8f8f92;
    color:#D8E2D2;
    border-radius:8px;
    cursor:pointer;
    transition:all .3s
}

.boton_formulario:hover {
    background: #A9CD91;
    color:#ffffff;
    border:2px solid #A9CD91;
}

.texto_contacto {
    text-align: center;
    font-size: 15px;
    font-style: italic;
}